<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create New Staff</title>
</head>
<body>
	<div align="center">
		<h1>Create New Staff</h1>
		<br/>
		<form action="#" th:action="@{/save-staff}" th:object="${staff}" method="post">
		<table border="0" cellpadding="10">
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{name}"/></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><input type="text" th:field="*{lastname}"/></td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td><input type="text" th:field="*{phone}"/></td>
			</tr>
			
			<tr>
				<td colspan="2"><button type="submit">Save</button></td>
			</tr>
		</table>
		</form>
	</div>

</body>
</html>